:root{
    --main-color:#525252;
}

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    -webkit-border-radius: 0px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #00000000;
    -webkit-border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }

#corpo {
    padding:0;
    margin: 0;
    background-repeat: no-repeat;
    background: rgb(255,255,255);
    background: radial-gradient(circle,
     rgba(255,255,255,0) 31%,
     rgba(0,0,0,0.16143497757847536) 62%,
     rgba(0,0,0,0.4185351270553064) 100%);
}

@font-face {
    font-family: future;
    src: url('Future Now.ttf');
}

@font-face {
    font-family: militar;
    src: url('4077TH.TTF');
}

html, body {
    width: 100%;
    height:100%;
  }

.container {
    display:relative;
}

.btn-menus {
    width: 150px;
    height: 150px;
}

.menu {
    border: solid 2px var(--main-color);
    width: 90px;
    height: 500px;
    margin-left: 25px;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    animation: saltar-esquerdo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
    display: none;
}

.menu2 {
    border: solid 2px var(--main-color);
    width: 435px;
    height: 105px;
    left: 50%;
    bottom: 23px;
    transform: translateX(-50%);
    position: fixed;
    animation: saltar-baixo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
    display: none;
}

.menu3 {
    border: solid 2px var(--main-color);
    width: 90px;
    height: 500px;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    position: fixed;
    animation: saltar-direito 1s cubic-bezier(0, 0.21, 0.18, 0.99);
    display: none;
}

.btn-press {
    width: 80px;
    height: 90px;
    position: relative;
    border: 1px var(--main-color) solid;
    margin-left: 4px;
    margin-top: 7px;
    background-image: url(../imagens/malha2.png);
    background-repeat: repeat;
    background-size: 30px;
}

.btn-press2 {
    width: 80px;
    height: 90px;
    border: 1px var(--main-color) solid;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    filter: invert(1);
    animation: fade 1.2s linear;
}

.btn-press3 {
    position: relative;
    width: 80px;
    height: 90px;
    border: 1px var(--main-color) solid;
    margin-left: 4px;
    float: left;
    margin-top: 7px;
/*    background-image: url(../imagens/malha.png); */
    background-image: url(../imagens/malha2.png);
    background-repeat: repeat;
    background-size: 30px;
}

.btn-press4 {
    position: relative;
    width: 80px;
    height: 90px;
    border: 1px var(--main-color) solid;
    margin-left: 4px;
    float: left;
    margin-top: 7px;
/*    background-image: url(../imagens/malha.png); */
    background-image: url(../imagens/malha2.png);
    background-repeat: repeat;
    background-size: 30px;
}

.subOptions {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: black;
    margin: 5px 0px 5px 5px;
    float: left;
}

/*icons animados*/
.buble{
    background-color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
}

.films{
    display: none;
}

video{
    width: 49%;
    margin-top: 4px;
    margin-left: 4px;
}

.camada1{
    width: 30%;
    height: 30%;
    opacity: 0.5;
    animation: wave1 3s cubic-bezier(0.46, 0.04, 0.6, 0.99) infinite;
}

.camada2{
    width: 50%;
    height: 50%;
    opacity: 0.5;
    animation: wave2 3s cubic-bezier(0.46, 0.04, 0.6, 0.99) infinite;
}

.camada3{
    width: 60%;
    height: 60%;
    opacity: 0.5;
    animation: wave3 3s cubic-bezier(0.46, 0.04, 0.6, 0.99) infinite;
}

.rela2 {
    width: 75%;
    height: 75%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0.5;
    z-index: -1;
    animation: IAcenter 20s cubic-bezier(0.46, 0.04, 0.6, 0.99) infinite;
}

@keyframes IAcenter {
20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
}

40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
}
60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
}
80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
}}

@keyframes wave1 {
20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
}

40% {
    transform: rotate(
3deg)  translateX(-50%) translateY(-50%);
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
}
60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
}
80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
}}

@keyframes wave2 {
    20% {
    transform: rotate(
354deg) translateX(-50%) translateY(-50%);
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
}

40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
}
60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
}
80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
}
}

@keyframes wave3 {
    20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
}
40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
}
60% {
    transform: rotate(14deg) translateX(-50%) translateY(-50%);
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
}
80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
}
}

.circle {
  display: block;
  background: black;
  border-radius: 50%;
/*
  height: 300px;
  width: 300px;
*/
  margin: 0;
  background: radial-gradient(circle at 100px 100px, #fdfeff, #adadad);
}

#progressbar{
    width: 0px;
    height: 5px;
    background-color: var(--main-color);
    position: fixed;
    bottom: 0px;
    margin-bottom: 3px;
    margin-left: 3px;
    transition: 1.5s;
    display: none;
}

.canto1-options {
    transform: rotateZ(90deg) translate(-1px, 1px);
    right: -1px;
    top: -1px;
}

.canto2-options {
    transform: rotateZ(180deg);
    position: absolute;
    right: -1px;
    top: -1px;
}

.canto3-options {
    transform: rotateZ(0deg) translateY(76px);
    position: absolute;
    left: 4px;
    left: -1px;
}

.canto4-options {
    transform: rotateZ(270deg) translateX(-76px);
    position: absolute;
    left: 70px;
    left: 66px;
}

.texto-modo {
    font-size: 10px;
    font-family: monospace;
    position: absolute;
    margin-left: 8px;
    margin-top: 5px;
    animation: saltar-modo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

.texto-modo2 {
    font-size: 10px;
    font-family: monospace;
    position: absolute;
    margin-top: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    animation: saltar-modo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

.iconeLogo {
    position: absolute;
    width: 80px;
    height: 90px;
}

.texto-protocolo {
    position: absolute;
    font-size: 30px;
    font-family: monospace;
    margin-top: 25px;
    left: 50%;
    transform: translateX(-50%);
    animation: saltar-protocolo 1.5s cubic-bezier(0, 0.21, 0.18, 0.99);
}

.texto-subtitulo {
    position: absolute;
    font-size: 8px;
    font-family: monospace;
    margin-left: 10px;
    margin-top: 70px;
    animation: saltar-subtitulo 2s cubic-bezier(0, 0.21, 0.18, 0.99);
}

.optionsAudio {
    display: none;
}

.optionsCamera {
    display: none;
}

.painelTranscrever {
    display: none;
}

#transcricao_options {
    display: none;
}

#painelTranscrever {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.archives {
    position: fixed;
    width: 98%;
    height: auto;
    margin: 11px 0px 0px 9px;
    background-color: #ffffffe3;
    border-radius: 5px;
    transition-duration: 1s;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: center; 
}

.request {
    width: 98%;
    margin: 0px 0px 9px 9px;
    border-radius: 6px;
    background-color: #00000078;
    color: white;
    font-family: 'future';
    height: 100px;
    font-size: 40px;
    border: none;
    backdrop-filter: blur(4px);
    bottom: 0;
    position: fixed;
}

#fileinfo{
    display:block;
}

input[type=file] {
    background-color: #fff0;
    color: white;
    font-family: future;
    font-size: 17px;
    height: auto;
    width: auto;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
}

.dimen-canto {
    width: 15px;
}

.container1 {
    position: relative;
}

.canto1 {
    transform: rotateZ(90deg) translate(-1px, 1px);
}

.canto2 {
    transform: rotateZ(180deg);
    position: absolute;
    right: 0px;
}

.canto3 {
    transform: rotateZ(0deg) translateY(76px);
    position: absolute;
    left: 0px;
}

.canto4 {
    transform: rotateZ(270deg) translateX(-76px);
    position: absolute;
    right: 0px;
}

.ponteiro-esquerda {
    transform: rotate(15deq);
}

div.superior-esquerdo {
    transform: rotate(45deg);
    position: fixed;
    bottom: 1;
    right: 1;
    animation: saltar-esquerdo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

div.superior-centro {
    transform: translateX(-50%) rotate(270deg);;
    position: fixed;
    bottom: 1;
    left: 50%;
    animation: saltar-cima 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

div.superior-direito {
    transform: rotate(135deg);
    position: fixed;
    bottom: 1;
    right: 0;
    animation: saltar-direito 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

div.esquerdo {
    transform: translateY(-50%) rotate(180deg);
    position: fixed;
    top: 50%;
    animation: saltar-esquerdo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
    z-index:1;
}

.notify {
    border: 2px solid var(--main-color);
    background-image: url("../imagens/pontilhado.png");
    background-repeat: repeat;
    background-size: 10px;
    background-color: var(--main-color);
    width: 280px;
    border-radius: 90px 15px 15px 90px;
    margin-top: 5px;
    margin-right: 5px;
    position: fixed;
    right: 0;
    padding: 5px;
    display:none;
    animation: esvair-baixo 10s cubic-bezier(0, 0.21, 0.18, 0.99);
}

.notify-text {
    text-align: center;
    color: white;
    font-size: 29px;
    font-family: future;
    height: 90px;
    border-radius: 15px 15px 15px 15px;
    text-shadow: 0px 0px 15px;
}

.options-panel {
    background-color: #000000eb;
    width: 70%;
    height: 65%;
    border-radius: 10px;
    display: none;
    background-image: url(../imagens/malha2.png);
    background-repeat: repeat;
    background-size: 70px;
    backdrop-filter: blur(4px);
    animation: fadeini2 0.5s linear;
    overflow-y: scroll;
}

div.centro {
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    */
    transform: translateX(-50%) translateY(-50%);
    transform-origin: 0% 0%;
    position: fixed;
    left: 50%;
    top: 50%;
}

.rela {
    width: 500px;
    height: 500px;
}

.rela1 {
    width: 500px;
    height: 500px;
    left: 0px;
    top: 0px;
    position:absolute;
    transition: 2s;
}

.intro-loading {
    animation: loading 5s cubic-bezier(0, 0, 0, 0.96);
}

@keyframes loading {
    0% {transform: scale3d(1, 1, 1);}
    50% {transform: scale3d(1.5, 1.5, 1.5);}
    100% {transform: scale3d(1, 1, 1);}
}

.rotate-direita {
    animation: rotacionar 30s linear infinite;
}

@keyframes rotacionar {
    from {  transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes desentocar {
    from {  left: -800px; opacity: 0; }
    to { left: 0px; opacity: 1; }
}

.rotate-esquerda {
    animation: rotacionar1 30s linear infinite;
    position: absolute;
    left: 0px;
    top: 0px;
}

@keyframes rotacionar1 {
    from {  transform: rotate(359deg); }
    to { transform: rotate(0deg); }
}

.direito {
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
    right: 0;
    animation: saltar-direito 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

div.inferior-esquerdo {
    transform: rotate(315deg);
    position: fixed;
    bottom: 0;
    right: 1;
    animation: saltar-esquerdo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

div.inferior-centro {
    transform: translateX(-50%) rotate(90deg);;
    position: fixed;
    bottom: 0;
    left: 50%;
    animation: saltar-baixo 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

div.inferior-direito {
    transform: rotate(225deg);
    position: fixed;
    bottom: 0;
    right: 0;
    animation: saltar-direito 1s cubic-bezier(0, 0.21, 0.18, 0.99);
}

.fadeini {
    animation: fadeini 2s linear;
}

@keyframes fadeini {
    from { opacity: 0; filter: blur(20px); }
    to { opacity: 1; filter: blur(0px);}
}

@keyframes fadeini2 {
    from { opacity: 0; filter: blur(2px); }
    to { opacity: 1; filter: blur(0px);}
}

@-prefix-keyframes slide {
  from {height: 0;}
  to {height: 300px;}
}


.circles{
    z-index:-1;

    position: absolute;

    right: 0;
    bottom: 0;

    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    overflow: hidden;

/*  position: fixed;*/
/*  opacity: 0.1; */
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.322);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 5px;
    height: 5px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 5px;
    height: 5px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 5px;
    height: 5px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 5px;
    height: 5px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 5px;
    height: 5px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 5px;
    height: 5px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 5px;
    height: 5px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 5px;
    height: 5px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 5px;
    height: 5px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 5px;
    height: 5px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@keyframes saltar-esquerdo {
    from {  left: -130px; opacity: 0; filter: blur(3px); }
    to { left: 0px; opacity: 1; filter: blur(0px);}
}

@keyframes saltar-direito {
    from {  right: -130px; opacity: 0; filter: blur(3px); }
    to { right: 25px; opacity: 1; filter: blur(0px);}
}

@keyframes saltar-cima {
    from {  top: -130px; opacity: 0; filter: blur(3px); }
    to { top: 25px; opacity: 1; filter: blur(0px);}
}

@keyframes saltar-baixo {
    from {  bottom: -130px; opacity: 0; filter: blur(3px); }
    to { bottom: 23px; opacity: 1; filter: blur(0px);}
}

@keyframes fade {
    from {  opacity: 0; filter: blur(2px); }
    to { opacity: 1; filter: blur(0px);}
}

@keyframes saltar-modo {
    0% {  opacity: 0;}
    50% {  opacity: 0;}
    70% {  margin-left: 0px; opacity: 0;}
    100% { margin-left: 8px; opacity: 1; }
}

@keyframes saltar-protocolo {
    0% {  opacity: 0;}
    50% {  opacity: 0;}
    70% {  left: 30%; opacity: 0;}
    100% { left: 50%; opacity: 1; }
}

@keyframes saltar-subtitulo {
    0% {  opacity: 0;}
    50% {  opacity: 0;}
    70% {  margin-left: 0px; opacity: 0;}
    100% { margin-left: 8px; opacity: 1; }
}

@keyframes esvair-baixo {
    0%   { display:block; right: -130px; opacity: 0; filter: blur(3px); }
    20%  { display:block; right: 0px; opacity: 1; filter: blur(0px);}
    90%  { display:block; right: 0px; opacity: 1; filter: blur(0px);}
    100% { display:block; opacity: 0; right: -170px;}
}
